{% extends 'base.html.twig' %}

{% block title %}
    Xunidesign - creations
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/templates/service/creations.css') }}" rel="stylesheet">
    <link href="{{ asset('css/templates/layout/presentation-service.css') }}" rel="stylesheet">
    <link href="{{ asset('css/templates/service/layout-service.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css">
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script src="{{ asset('js/service/creations.js') }}"></script>
{% endblock %}

{% block main %}
    <section class="creation img"></section>
    <section class="section-first-presentation-service">
        {% include "layout/layout-presentation-services.html.twig" %}
    </section>
    <section class="section-service">
        <div class="container overflow-a">
            <article class="title title-2 d-flex justify-between align-items-baseline">
                <div class="element rotate-X">
                    <hr>
                    <hr>
                    <hr>
                </div>
                <h1>prix <span>services</span></h1>
                <div class="element rotate rotateY">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </article>
            {{ render(controller('App\\Controller\\ServicesController::getServicePrice',{'id':1})) }}
            <hr class="separation">
            <article>
                <h3 class="options">d'autres options <br><span>seront disponible par la suite !</span></h3>
            </article>
            <article class="d-flex justify-end row-wrap">
                {% include "layout/layout-buttom-for-top.html.twig" %}
            </article>
        </div>
    </section>
{% endblock %}