{% extends 'base.html.twig' %}

{% block title %}
    Xunidesign - Services
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/templates/service/service.css') }}">
{% endblock %}

{% block js %}
{% endblock %}

{% block main %}
    <section class="img photo-section">
    </section>
    <section class="first-section-service">
        <div class="container overflow-a">
            <article class="title title-service">
                <div class="element rotateY">
                    <hr>
                    <hr>
                    <hr>
                </div>
                <h1>service & <span>options</span></h1>
                <div class="element">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </article>
            <article class="info-service">
                <aside class="column-service d-flex column-wrap justify-between">
                    <div class="block-title">
                        <h3 class="creation">creations & developpement</h3>
                    </div>
                    <div class="block-info-1">
                        <p class="text formule">- formule Pack #1</p>
                        <p class="text"> (Bannières 3 Formats, Emotes & Badges sub)</p>
                        <p class="text formule">- formule Pack #2</p>
                        <p class="text">(Image, Logo simple, Sticker & Flyer)</p>
                        <p class="text formule">- formule Pack #3</p>
                        <p class="text">(Projet planning & Autres)</p>
                    </div>
                    <div class="block-accedez"><div class="d-flex justify-center lien"><a href="{{ path('creations-developpement') }}">accedez ></a></div></div>
                </aside>
                <aside class="column-service">
                    <div class="block-title">
                        <h3 class="graphisme-jeux-video">graphisme jeux videos</h3>
                    </div>
                    <div class="block-info-2">
                        <p class="text formule espace">- Logos 2D & 3D</p>
                        <p class="text espace">- Miniature (Youtube) & Affiches</p>
                        <p class="text espace">- Bannières (Youtube, Twitter, Twitch)</p>
                        <p class="text espace">- Emotes & badges</p>
                        <p class="text">- Sticker & Flyers</p>
                    </div>
                    <div class="block-accedez">
                        <div class="d-flex justify-center lien"><a href="{{ path('graphisme-jeux-videos') }}">accedez ></a></div></div>
                </aside>
                <aside class="column-service d-flex column-wrap justify-between">
                    <div class="block-title">
                        <h3 class="graphisme-animations">graphisme animations</h3>
                    </div>
                    <div class="block-info-3">
                        <p class="text formule espace">- logos 2D & 3D</p>
                        <p class="text espace">- Overlay (Cam & Sociaux)</p>
                        <p class="text espace">- Alers Complet (Twitch)</p>
                        <p class="text espace">- Scène Début Live & Fin Live</p>
                        <p class="text espace">- Switch (Transition) & Scène de Pause</p>
                        <p class="text espace">- Formes 3D (Cinema 4D & After Effect)</p>
                        <p class="text espace"><span>nouveau</span> - Hud Jeux (Apex Legends)</p>
                    </div>
                    <div class="block-accedez"><div class="d-flex justify-center lien"><a href="{{ path('graphisme-jeux-videos') }}#animation">accedez ></a></div></div>
                </aside>
                <aside class="column-service d-flex column-wrap justify-between">
                    <div class="block-title">
                        <h3 class="graphisme-entreprise">graphisme entreprise</h3>
                    </div>
                    <div class="block-info-4">
                        <p class="text formule espace">- Logo 2D & 3D</p>
                        <p class="text espace">- Image & Bannière</p>
                        <p class="text espace">- Cartes de visite</p>
                        <p class="text espace">- Stickers & Flyers</p>
                        <p class="text espace">- Visuel entreprise (Charte Graphique)</p>
                        <p class="text espace">- Maquette WebDesign</p>
                    </div>
                    <div class="block-accedez"><div class="d-flex justify-center lien"><a href="{{ path('graphisme-entreprise') }}">accedez ></a></div></div>
                </aside>
            </article>
        </div>
    </section>
    <section class="second-section-service">
        <div class="container overflow-a">
            <article class="image">
                <img src="{{ asset('image/services/carte-visite.png') }}" alt="carte-visite.png">
            </article>
            <article>
                <h2 class="title-level-2">vous voulez creer un projet ou mettre en avant votre entreprise,<br> avec <span>xunidesign</span> faite le !</h2>
            </article>
            <article>
                <div class="custom-hr-visite">
                    <hr class="hr-custom">
                    <hr class="hr-custom">
                </div>
            </article>
            <article class="options">
                <div class="d-flex column-wrap justify-center">
                    <p>options, contact, realisations projet</p>
                </div>
            </article>
            <article class="page-contact">
                <div class="d-flex column-wrap justify-center">
                    <a href="{{ path('contact') }}">accedez a la page <span>contact</span></a>
                </div>
            </article>
            <article class="bouton d-flex justify-end">
                {% include "layout/layout-buttom-for-top.html.twig" %}
            </article>
        </div>
    </section>
{% endblock %}