{% extends 'base.html.twig' %}

{% block title %}Xunidesign - accueil{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/templates/home/home.css') }}" rel="stylesheet">
    <link href="{{ asset('css/templates/home/slick-theme.css') }}" rel="stylesheet">
{% endblock %}
{% block js %}
    <script src="{{ asset('js/jquery/jquery.js') }}"></script>
    <script src="{{ asset('js/slick/slick.min.js') }}"></script>
    <script src="{{ asset('js/carousel/carousel.js') }}"></script>
{% endblock %}
{% block main %}
    <section >
        <div class="carousel-photo">
            <img src="{{ asset('image/carousel/carousel-1.png') }}" alt="carousel">
        </div>
    </section>
    <section class="second-section">
        <div class="container">
            <article class="first-article">
                <div class="element rotateY">
                    <hr>
                    <hr>
                    <hr>
                </div>
                <h1>compétences et <span>projet possibles</span></h1>
                <div class="element">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </article>
            <article class="second-article">
                <div class="box">
                    <div class="d-flex informatique align-items-center ">
                        <img src="{{ asset('image/icon/pc.png') }}" alt="pc-informatique">
                        <h2>creations & developpements</h2>
                    </div>
                    <div class="polygon-box"></div>
                </div>
                <hr>
                <div class="box">
                    <div class="d-flex manette align-items-center ">
                        <img src="{{ asset('image/icon/manette.png') }}" alt="pc-">
                        <h2>graphique gaming & entreprise</h2>
                    </div>
                    <div class="polygon-box"></div>
                </div>
                <hr>
                <div class="box">
                    <div class="d-flex pin align-items-center ">
                        <img src="{{ asset('image/icon/pin.png') }}" alt="pc-pin">
                        <h2>ventes de packs exclusif</h2>
                    </div>
                    <div class="polygon-box"></div>
                </div>
            </article>
            <article class="third-article">
                <h3>avec <span>xunidesign</span> donnez vie à vos idées !</h3>
            </article>
            <article class="fourth-article">
                <div class="element rotateY-rotate">
                    <hr>
                    <hr>
                    <hr>
                </div>
                <h3>tableau des <span>services</span></h3>
                <div class="element rotate">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </article>
            <article class="tableau-prix">
                <div class="tableau-prix-v360 overflow-a">
                    <div class="texte-flex">
                        <h1>creations <span>developpements</span></h1>
                    </div>
                    <hr>
                    <div class="vert-blue">
                        {% set i = 1 %}
                        {% for data in creations %}
                            <div class="slot slot-{{ i }} {{ data.background }} creations">
                                <h2>{{ data.getTitle }}</h2>
                                <p class="sous-description">{{ data.getSbtitle }}</p>
                                <div>
                                    <p class="last">{{ data.getdescription }}</p>
                                </div>
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                    <div class="texte-flex">
                        <h1>graphisme <br><span>jeux videos</span></h1>
                    </div>
                    <hr>
                    <div class="darkBlue-blue">
                        {% set i = 1 %}
                        {% for data in gjv %}
                            <div class="slot slot-{{ i }} {{ data.background }} gjv">
                                <h2>{{ data.getTitle }}</h2>
                                <p class="sous-description">{{ data.getSbtitle }}</p>
                                <div>
                                    <p class="last">{{ data.getdescription }}</p>
                                </div>
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                    <div class="texte-flex">
                        <h1>graphisme <span>entreprise</span></h1>
                    </div>
                    <hr>
                    <div class="blue-darkBlue">
                        {% set i = 1 %}
                        {% for data in entreprise %}
                            <div class="slot slot-{{ i }} {{ data.background }} entreprise">
                                <h2>{{ data.getTitle }}</h2>
                                <p class="sous-description">{{ data.getSbtitle }}</p>
                                <div>
                                    <p class="last">{{ data.getdescription }}</p>
                                </div>
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                    <div class="texte-flex">
                        <h1>options <span><br>+ anmimations</span></h1>
                    </div>
                    <hr>
                    <div class="purple-blue">
                        {% set i = 1 %}
                        {% for data in option %}
                            <div class="slot slot-{{ i }} {{ data.background }} option" >
                                <h2>{{ data.getTitle }}</h2>
                                <p class="sous-description">{{ data.getSbtitle }}</p>
                                <div>
                                    <p class="last">{{ data.getdescription }}</p>
                                </div>
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                    <div class="texte-flex">
                        <h1>packs <span>personnalisable</span></h1>
                    </div>
                    <hr>
                    <div class="blue-black">
                        {% set i = 1 %}
                        {% for data in packs %}
                            <div class="slot slot-{{ i }} {{ data.background }} packs">
                                <h2>{{ data.getTitle }}{{ i == 1 ? '<span> (classique) </span>' : '' }}</h2>
                                <p class="sous-description">{{ data.getSbtitle == "none" ? "" : data.getSbtitle }}</p>
                                <div>
                                    <p class="last">{{ data.getdescription }}</p>
                                </div>
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tableau-prix-v1820">
                    <aside class="d-flex column-wrap align-items-end info-service">
                        <h1>creations <span>developpements</span></h1>
                        <h1>graphisme <span>jeux videos</span></h1>
                        <h1>graphisme <span>entreprise</span></h1>
                        <h1>option <span><br>+ animation</span></h1>
                    </aside>
                    <aside>
                        <hr class="hr-blanc">
                    </aside>
                    <aside class="d-grid grid-prix">
                        {% for service in services %}
                            <div class="{{ service.getPosition }} {{ service.background }} excel">
                                <h2>{{ service.getTitle }}</h2>
                                <p>{{ service.getSbtitle }}</p>
                                <div class="d-flex row-wrap justify-end">
                                    <h3>{{ service.getDescription }}</h3>
                                </div>
                            </div>
                        {%  endfor %}
                    </aside>
                    <aside class="last-info-service">
                        <h1>packs <span>disponible</span></h1>
                    </aside>
                    <aside>
                        <hr class="second-hr-blanc">
                    </aside>
                    <aside class="box-prix {{ packs[0].background }} excel">
                        <h2>{{ packs[0].getTitle }} <span>(classique)</span></h2>
                        <p>{{ packs[0].getSbtitle }}</p>
                        <div class="d-flex justify-end row-wrap">
                            <h3>{{ packs[0].getDescription }}</h3>
                        </div>
                    </aside>
                    <aside class="pack-animation {{ packs[1].background }}">
                        <h2>{{ packs[1].getTitle }}</h2>
                        {% if packs[1].getSbtitle == "none" %}
                            <p></p>
                        {% else %}
                            <p>{{ packs[1].getSbtitle }}</p>
                        {% endif %}
                        <div class="d-flex justify-end row-wrap">
                            <h3>{{ packs[1].getDescription }}</h3>
                        </div>
                    </aside>
                    <aside class="pack-full-anime {{ packs[2].background }}">
                        <h2>{{ packs[2].getTitle }}</h2>
                        {% if packs[2].getSbtitle == "none" %}
                            <p></p>
                        {% else %}
                            <p>{{ packs[2].getSbtitle }}</p>
                        {% endif %}
                        <div class="d-flex justify-end row-wrap">
                            <h3>{{ packs[2].getDescription }}</h3>
                        </div>
                    </aside>
                </div>
                <aside class="polygon-prix">
                    <div class="box-polygon"></div>
                </aside>
            </article>
            <article class="five-article d-flex row-wrap justify-end">
                <div class="">
                    <h1>prix afficher sur les pages des services !!</h1>
                    <p>avec explications et details</p>
                </div>
            </article>
            <article class="layout-mobile">
                {% include "layout/layout-buttom-for-top.html.twig" %}
            </article>
        </div>
    </section>
    <section class="third-section">
        <div class="container overflow">
            <article class="d-flex row-wrap justify-between presentation align-items-baseline">
                <div class="element">
                    <hr>
                    <hr>
                    <hr>
                </div>
                <h1>nouveautés <span>exclusif</span></h1>
                <div class="element rotateY">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </article>
            <article class="tableau d-flex row-wrap justify-between">
                <aside class="boxes align-self-center d-flex row-wrap justify-between">
                    <div class="box-div boxes-first d-flex column-wrap justify-between">
                        <img src="{{ asset('image/home/home-tableau.png') }}" alt="home-tableau.png">
                        <div class="title-boxe"><h3>titre nouveauté</h3></div>
                    </div>
                    <hr class="boxes-hr">
                    <div class="box-div boxes-second d-flex column-wrap justify-between">
                        <img src="{{ asset('image/home/home-tableau.png') }}" alt="home-tableau.png">
                        <div class="title-boxe"><h3>titre nouveauté</h3></div>
                    </div>
                    <div class="box-div boxes-third d-flex column-wrap justify-between">
                        <img src="{{ asset('image/home/home-tableau.png') }}" alt="home-tableau.png">
                        <div class="title-boxe"><h3>titre nouveauté</h3></div>
                    </div>
                    <hr class="boxes-hr">
                    <div class="box-div boxes-four d-flex column-wrap justify-between">
                        <img src="{{ asset('image/home/home-tableau.png') }}" alt="home-tableau.png">
                        <div class="title-boxe"><h3>titre nouveauté</h3></div>
                    </div>
                </aside>
            </article>
            <article class="d-flex row-wrap justify-end mt-perso">
                {% include "layout/layout-buttom-for-top.html.twig" %}
            </article>
        </div>
    </section>
{% endblock %}
