<!DOCTYPE html>

<html lang="fr-fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('css/reset/reset.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/font/font.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/templates/admin/dashboard/dashboard.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('font-awesome/css/fontawesome.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('font-awesome/css/brands.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('font-awesome/css/solid.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('font-awesome/css/regular.min.css') }}" type="text/css">

        <title>{% block title %}{% endblock %}</title>
        {% block css %}{% endblock %}
    </head>
    <body>
        <header class="header-dashboard">
            <nav class="fixed">
                <ul>
                    <li>
                        <a href="{{ path('admin_dashboard') }}" class="accueil-admin"><img src="{{ asset('image/logo-dashboard.png') }}" alt=""></a>
                    </li>
                    <li>
                        <div class="page-accueil dropdown d-flex">
                            <p>accueil</p>
                            <button class="reset {% if var in ["accueil","exclusivite","carousel"] %}rotate-90 {% else %}rotate-0 {% endif %}">
                                <i class="fa-solid fa-2x fa-angle-right"></i>
                            </button>
                        </div>
                        <ul class="{% if var not in ["accueil","exclusivite","carousel"] %}d-none {% endif %}">
                            <li>
                                <div class="d-flex">
                                    <a href="{{ path('admin_service_service') }}" class="dropdown-p {% if var == "accueil" %} actif {% endif %}">Service Accueil</a>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <a href="" class="dropdown-p {% if var == "exclusivite" %} actif {% endif %}">Exclusivité</a>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <a href="{{ path('admin_carousel_view') }}" class="dropdown-p {% if var == "carousel" %} actif {% endif %}">Carousel</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="page-services dropdown d-flex">
                            <p>services</p>
                            <button class="reset {% if var in ["creationDev","graphismeJVA","graphismeEntreprise"] %} rotate-90 {% else%} rotate-0 {% endif %}">
                                <i class="fa-solid fa-2x fa-angle-right"></i>
                            </button>
                        </div>
                        <ul class="{% if var not in ["creationDev","graphismeJVA","graphismeEntreprise"] %}d-none {% endif %}">
                            <li>
                                <div class="d-flex">
                                    <a href="" class="dropdown-p {% if var == "creationDev" %} actif {% endif %}">creation et developpement</a>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <a href="" class="dropdown-p {% if var == "graphismeJVA" %} actif {% endif %}">graphisme jeux vidéo & animation</a>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <a href="" class="dropdown-p {% if var == "graphismeEntreprise" %} actif {% endif %}">graphisme entreprise</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="page-pack dropdown d-flex">
                            <p>packs</p>
                            <button class="reset {% if var in ["packPerso","listPack"] %} rotate-90 {% else%} rotate-0 {% endif %}">
                                <i class="fa-solid fa-2x fa-angle-right"></i>
                            </button>
                        </div>
                        <ul class="{% if var not in ["packPerso","listPack"] %}d-none {% endif %}">
                            <li>
                                <div class="d-flex">
                                    <a href="" class="dropdown-p {% if var == "packPerso" %} actif {% endif %}">Pack personnalisé</a>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <a href="" class="dropdown-p {% if var == "listPack" %} actif {% endif %}">Voir la liste des packs</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="page-autre dropdown d-flex">
                            <p>autre</p>
                            <button class="reset {% if var in ["presentation","book","partenariats","contact"] %} rotate-90 {% else%} rotate-0 {% endif %}">
                                <i class="fa-solid fa-2x fa-angle-right"></i>
                            </button>
                        </div>
                        <ul class="{% if var not in ["presentation","book","partenariats","contact"] %}d-none {% endif %}">
                            <li>
                                <div class="d-flex">
                                    <a href="" class="dropdown-p {% if var == "presentation" %} actif {% endif %}">Presentation</a>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <a href="" class="dropdown-p {% if var == "book" %} actif {% endif %}">Book</a>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <a href="" class="dropdown-p {% if var == "partenariats" %} actif {% endif %}">Partenariats</a>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex">
                                    <a href="" class="dropdown-p {% if var == "contact" %} actif {% endif %}">Contact</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <section class="d-flex profil">
                <nav>
                    <ul>
                        <li>
                            <div class="avatar">
                                <img src="{{ asset('image/pack-client/badges/pack-edition-myrockx/badges-1an.png') }}">
                            </div>
                            <ul class="d-none">
                                <li><a href="#">settings</a></li>
                                <li><a href="{{ path('admin_app_logout') }}">se déconnecter</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </section>
        </header>
        <main class="page-admin">
            {% block main %}
            {% endblock %}
        </main>
        <footer></footer>
        <script src="{{ asset('js/general/general.js') }}"></script>
        <script src="{{ asset('js/admin/dropdown/dropdown.js') }}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>