{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/templates/xunidesign/xunidesign.css') }}">
{% endblock %}

{% block js %}
{% endblock %}

{% block main %}
    <section class="section_img"></section>
    <section class="section_first_xunidesign">
        <div class="container overflow">
            <article class="title-xunidesign d-flex justify-between align-items-baseline">
                <div class="element rotateY">
                    <hr>
                    <hr>
                    <hr>
                </div>
                <h1 class="presentation">presentation <span>xunidesign</span></h1>
                <div class="element">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </article>
            <article class="container box-biographie d-flex justify-start row-wrap">
                <div class="box-cadre">
                    <div class="description-xunidesign">
                        <img src="{{ asset('image/presentation/xunidesign.png') }}" alt="xunidesign.png">
                        <h1>xunidesign <span>Alias DiazDawn</span></h1>
                    </div>
                    <h3>graphiste <span>pro</span> | web<span>design</span></h3>
                </div>
                <hr class="trait">
                <div class="longueur">
                    <div class="biographie">
                        <p >Bonjour,</p>
                        <p>Je me présente DiazDawn.</p>
                        <p>Graphiste Professionnel depuis maintenant plusieurs années, je pratique aussi le webdesign ainsi que la maintenance informatique.</p>
                        <p>XuniDesign à pour ambition de valoriser le visuel de vos projets.</p>
                        <p> Les services proposés vise le gaming, l’entreprise et la maintenance hardware/software.</p>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section class="section_second_xunideisgn overflow-a">
        <div class="container">
            <article class="conteneur experience-logiciel d-flex row-wrap justify-between align-items-baseline">
                <div class="element rotate-X">
                    <hr>
                    <hr>
                    <hr>
                </div>
                <h1 class="presentation-projet">experiences <span>logiciels</span></h1>
                <div class="element rotateX-rotateY">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </article>
            <article class="box-logiciel overflow-a">
                <div class="polygon-box"></div>
                <div class="tableau-logiciel">
                    <div class="tableau">
                        <img src="{{ asset('image/presentation/Adobe-Photoshop-CC-Logo.png') }}" alt="Adobe-Photoshop-CC-Logo.png">
                        <div class="competences">
                            <div class="niveau-competences">
                                <p>faible</p>
                                <p>elever</p>
                            </div>
                            <div class="progress-competence">
                                <hr class="bar-valid">
                                <hr class="bar-valid">
                                <hr class="bar-valid">
                                <hr class="bar-no-valid">
                            </div>
                            <div class="name-logiciel">
                                <p>adobe photoshop cc</p>
                            </div>
                        </div>
                        <hr class="trait">
                        <div class="competence-texte">
                            <p>plusieurs maitrise avec photoshop, dans le but de créer affiches et carte de visites mais aussi pour tout ce qui est retouche principale style (gamming) et (entreprise).</p>
                        </div>
                    </div>
                    <div class="tableau">
                        <img src="{{ asset('image/presentation/ADOBE-ILLUSTRATOR-CC-Logo.png') }}" alt="ADOBE-ILLUSTRATOR-CC-Logo.png">
                        <div class="competences">
                            <div class="niveau-competences">
                                <p>moyen</p>
                                <p>expert</p>
                            </div>
                            <div class="progress-competence">
                                <hr class="bar-valid">
                                <hr class="bar-valid">
                                <hr class="bar-valid">
                                <hr class="bar-no-valid">
                            </div>
                            <div class="name-logiciel">
                                <p>adobe illustrator</p>
                            </div>
                        </div>
                        <hr class="trait">
                        <div class="competence-texte">
                            <p>experience dans les logotypes et emote/badges puis autres créer dans un style gaming et aussi imaginatif.</p>
                        </div>
                    </div>
                    <div class="tableau">
                        <img src="{{ asset('image/presentation/AFTER-EFFECTS-CC-Logo.png') }}" alt="AFTER-EFFECTS-CC-Logo.png">
                        <div class="competences">
                            <div class="niveau-competences">
                                <p>faible</p>
                                <p>elever</p>
                            </div>
                            <div class="progress-competence">
                                <hr class="bar-valid">
                                <hr class="bar-valid">
                                <hr class="bar-no-valid">
                                <hr class="bar-no-valid">
                            </div>
                            <div class="name-logiciel">
                                <p>adobe after effect cc</p>
                            </div>
                        </div>
                        <hr class="trait">
                        <div class="competence-texte">
                            <p>competence acquis principalement dans le style gaming. Des effets scène. Overlay puis logo etc.</p>
                        </div>
                    </div>
                    <div class="tableau">
                        <img src="{{ asset('image/presentation/ADOBE-XD-Logo.png') }}" alt="ADOBE-XD-Logo.png">
                        <div class="competences">
                            <div class="niveau-competences">
                                <p>faible</p>
                                <p>moyen</p>
                            </div>
                            <div class="progress-competence">
                                <hr class="bar-valid">
                                <hr class="bar-no-valid">
                                <hr class="bar-no-valid">
                                <hr class="bar-no-valid">
                            </div>
                            <div class="name-logiciel">
                                <p>adobe xd</p>
                            </div>
                        </div>
                        <hr class="trait">
                        <div class="competence-texte">
                            <p>creation de maquette website et aussi autre projet comme presentation d'application etc.</p>
                        </div>
                    </div>
                    <div class="tableau">
                        <img src="{{ asset('image/presentation/Cinema-4D-Logo.png') }}" alt="Cinema-4D-Logo.png">
                        <div class="competences">
                            <div class="niveau-competences">
                                <p>faible</p>
                                <p>moyen</p>
                            </div>
                            <div class="progress-competence">
                                <hr class="bar-valid">
                                <hr class="bar-no-valid">
                                <hr class="bar-no-valid">
                                <hr class="bar-no-valid">
                            </div>
                            <div class="name-logiciel">
                                <p>cinema 4d</p>
                            </div>
                        </div>
                        <hr class="trait">
                        <div class="competence-texte">
                            <p>maitrise de la base du logiciel pour text et logo 3d. en apprentisage pour le reste</p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="mt-perso d-flex justify-end">
                {% include "layout/layout-buttom-for-top.html.twig" %}
            </article>
        </div>
    </section>
{% endblock %}